$$[JS_OBJ??type==Node&&LorR==r].dir="rtl";
$$[JS_OBJ??type==Node&&LorR==r].dir="ltr";
$$[JS_OBJ??type==Node&&LorR==r].focus();
$$[JS_OBJ??type==Node&&LorR==r].blur();
$$[JS_OBJ??type==Node&&LorR==r].style.display="none";
$$[JS_OBJ??type==Node&&LorR==r].style.display="block";
$$[JS_OBJ??type==Node&&LorR==r].style.overflow="hidden";
$$[JS_OBJ??type==Node&&LorR==r].style.overflow="auto";
$$[JS_OBJ??type==Node&&LorR==r].style.position='relative';
$$[JS_OBJ??type==Node&&LorR==r].style.position='absolute';
$$[JS_OBJ??type==Node&&LorR==r].style.styleFloat='left';
$$[JS_OBJ??type==Node&&LorR==r].style.styleFloat='right';
$$[JS_OBJ??type==Node&&LorR==r].style.visibility="visible";
$$[JS_OBJ??type==Node&&LorR==r].style.visibility="collapse";
$$[JS_OBJ??type==Node&&LorR==r].style.borderSpacing="inherit";
$$[JS_OBJ??type==Node&&LorR==r].style.borderSpacing="20 px";
document.body.contentEditable="false";
document.body.contentEditable="true";
iTable.insertRow();
iTable.deleteRow();
iTable.createCaption();
iTable.deleteCaption();
iTable.createTFoot();
iTable.deleteTFoot();
iTable.createTHead();
iTable.deleteTHead();
iTable.createTBody();
iTable.innerHTML="";
iTable.dir="rtl";
iTable.dir="ltr";
iTable.style.display="none";
iTable.style.display="block";
iTable.style.overflow="hidden";
iTable.style.overflow="auto";
iTable.style.position='relative';
iTable.style.position='absolute';